.icon {
    height: 48px;
    width: 48px;
    min-width: 48px;
    min-height: 48px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    background-color: #F2F2F2;
}

.icon-title {
    height: 48px;
    width: 48px;
    min-width: 48px;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.span-title {
    color: #242424;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.span-subtitle {
    display: flex;
    flex-direction: row;
    color: #6B6B6B;
    font-size: 14px;
}

.separator {
    background-color: #F2F2F2;
    height: 1px;
    border: 0px;
    margin: 0px;
}