.badge {
    padding: 2px 8px;
    white-space: nowrap;
    transition: background 300ms ease 0s;
    border: 1px solid rgb(242, 242, 242);
    border-radius: 100px;
    background-color: #F2F2F2;
    position: relative;
    color: #242424;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}

.badge-checked {
    border-color: rgb(26, 137, 23);
    color: rgb(26, 137, 23);
}