@keyframes bounce {
    0% {
        transform: translate(-50%, -50%) scale(0.7);
    }
    20% {
        transform: translate(-50%, -50%) scale(1);
    }
    40% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) scale(0.7);
    }
}
@keyframes light-bounce {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.1);
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes k3 {
    0% {
        opacity: 0;
    }
    25% {
        transform: scale(.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}