@mixin fonts() {
    --main-font-regular:  sohne,"Helvetica Neue", Helvetica, Arial, sans-serif;
    --main-font-bold: 'Barlow-Bold';
    --main-font-semi-bold: 'Barlow-SemiBold';
    --title-font: 'Helvetica Neue';
    --title-medium: 'Barlow-Medium';
    --title-small: 'Barlow'
}
