.title {
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
    letter-spacing: -0.03em;
    line-height: 32px;
    font-size: 28px;
    font-weight: 400;
    color: black;
}

.terms {
    color: #6B6B6B;
    font-size: 13px;
    line-height: 20px;
}

.switch_button {
    color: #1A8917;
    cursor: pointer;
    font-weight: 600;
    margin-left: 4px;
}