.suggestions {
    margin-top: 40px;
    padding-bottom: 0px;
    border-bottom: none;
}

.suggestions-title {
    font-size: 16px;
    font-weight: 500;
    color: #242424;
    letter-spacing: 0;
    font-family: var(--main-font-regular);
    padding-bottom: 8px;
}