.searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 16px;
    background: #F9F9F9;
    gap: 8px;
    height: 39px;
    border-radius: 18px;
    width: 240px;
    justify-content: center;
}