.input-box {
    margin-top: 12px;
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #242424;
}

.label-name{
    font-size: 13px;
    color: #242424;
    margin-bottom: 12px;
}

.error {
    font-size: 13px;
    color: red;
}